block footer
    div#footer
        div.container
            div.text-center
                ul.list-inline
                    li
                        a(href="") Facebook
                    li
                        a(href="") Instagram
                    li
                        a(href="") VK